div.wrapper{
    margin: auto;
    width: 80%;
}

/* div.point{
    width: 100%;
} */

/* div.ninja-categories{
    margin-bottom: 20px;
}
div.ninja-categories div.ninja-option{
    display: inline-block;
    width: 24%;
    border: 1px solid silver;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    padding-bottom: 15px;
}

button{
    width: 40%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
} */

/* 
div.result_message{
    border: 1px solid silver;
    border-radius: 5px;
    padding: 20px;
} */

