<div class="ninja-categories">
    <div class="ninja-option">
      <h2>Farm</h2>
      <h3>Earns 2-5 gold</h3>
      <button (click)="checkFarmGold()">Farm!</button>
    </div>

    <div class="ninja-option">
      <h2>Cave</h2>
      <h3>Earns 5-10 gold</h3>
      <button (click)="checkCaveGold()">Cave!</button>
    </div>

    <div class="ninja-option">
      <h2>House</h2>
      <h3>Earns 7-15 gold</h3>
      <button (click)="checkHouseGold()">House!</button>
    </div>

    <div class="ninja-option">
      <h2>Casino</h2>
      <h3>Earns or lose up to 100 gold</h3>
      <button (click)="checkCasinoGold()">Casino!</button>
    </div>
  </div>
